*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}
html{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background: url(../img/background.jpg) no-repeat;
    height: 1300px; 

    background-size: cover;
    background-position: center center;

}


.app{
    max-width: 480px;
    border-radius: 20px;
    margin: 0 auto;
    /* background-color: white; */
} 
.play-zone{
    position: fixed;
    top:0;
    width: 100%;
    max-width: 480px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;
    z-index: 100;
    /* background-color: #A9C9FF; */
   
    /* background-image: linear-gradient(180deg, #f5e3f7 0%, #e2f97d 100%);
    background: linear-gradient(-45deg, #ebc7f6, #b7b7e1, #e1e5c0, #f1ddf8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    background: linear-gradient(-45deg, #f5c6b8, #ddf5d0, #b9e7f8, #81fade);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
 

}

.play-zone.active{

  background-image: linear-gradient(180deg, #efa1fe 0%, #f1dee5 100%);
  background: linear-gradient(-45deg, #6d4cf0, #ddf5d0, #d7c2f0, #81fade);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.fa-moon{
  font-weight: 1000;
  position: absolute;
  font-size:25px;
  top:10px;
  cursor: pointer;
}

.fa-moon.active{
  transition: 0.5s ease;

  top: -25px;
  opacity: 0;
}


.play-zone .fa-sun{
  cursor: pointer;
  position: absolute;
  font-size:25px;
  top:55px;
  opacity: 0;
}

.fa-sun.up{
  transition: 0.5s ease;
  font-size:25px;
  top:55px;
  opacity: 0;
}

.fa-moon.up{
  transition: 0.5s ease;
  font-size:25px;
  font-weight: 1000;
  top:10px;
 
}

.fa-sun.active{
  display: inline-block;
  transition: 0.5s ease;
  top: 10px;
  opacity:1;
}

.fa-moon:hover{
  transition: 0.5s ease;
  color: rgb(6, 65, 245);
  rotate: 50deg;
}
@keyframes disapear{
  0%{
    opacity: 1;
    top: 0;;
  }
  100%{
    
    top:  -50px;
  }
}
.fa-sun:hover{
  rotate: 50deg;
 color: rgb(245, 111, 96);
}
.play-status{
    text-align: center;
    padding: 10px 0;
    color:red;
    font-weight: 600;
}

.play-disk{

    width: 250px;
    margin: auto;
    display: flex;
}

.play-disk img{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    width: 100%;
    border-radius: 50%;
}

/* .cd-thumb{
    width: 100%;
    padding-top: 100%;
} */

.play-title{
    text-align: center;
    margin-top: 10px;
}
.play-singer{
    text-align: center;
    font-style: italic;
    opacity: 0.7;
}

.play-control{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 20px;
    font-size: 25px;
    align-items: center;
   
}

.btn{
    cursor: pointer;
    padding: 0 5px;
    width : 45px;
}

.btn:hover{
    opacity: 0.7;
}
.btn-play{
    font-size: 55px;
    
}

.fa-shuffle{
  padding: 5px;
}

.fa-shuffle.active{
   
    /* color: rgb(26, 140, 239); */
    background-color: rgb(131, 184, 255);
    /* background-color: rgba(251, 251, 252, 0.8); */
    border-radius: 10px;
    

    
}
.fa-reply{
  padding : 5px;
}
.fa-reply.active{
  background-color: rgb(131, 184, 255);
  border-radius: 10px;
}
.btn-forward.active{
    
    /* transition: 0.5s ease; */
    position: relative;
    animation: forward 0.2s ease-out;
}

@keyframes forward{
  0%{
      left: 5px;
      font-size: 23px;
      opacity: 0.5;
  }
  100%{
      left: 0px;
      font-size: 25px;

      opacity: 1;
  }
  
}

.btn-backward.active{
    
  /* transition: 0.5s ease; */
  position: relative;
  animation: backward 0.2s ease-out;
}

@keyframes backward{
  0%{
      right: 0px;
      font-size: 23px;
      opacity: 0.5;
  }
  100%{
      right: 5px;
      font-size: 25px;

      opacity: 1;
  }
}



.play-btn.fa-solid.fa-play{
    display : inline-block;
}

.pause-btn.fa-solid.fa-pause{
  display: none;
}
.btn-play.active .play-btn{
   display: none;
}
.btn-play.active .pause-btn{
  display: inline-block;
}





input[type="range"] {
    padding: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;   
    background-color: transparent;
    margin-bottom: 20px;
    &:focus {
      outline-color: #f8b195;
    }
  }

  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -webkit-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }

  input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }

  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #f8b195;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: #222
    url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
    center no-repeat;
  background-size: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
}


  input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }


.playlist{
  margin-top: 543px;
  z-index: 0;
  padding: 28px 15px 10px;
   border-radius: 20px;
  background-color:  rgb(245, 241, 250);
   /* background-color: #4158D0; */
   /* background-image: linear-gradient(43deg, #a1aff5 0%, #C850C0 30%, #FFCC70 66%, #ffffff 100%);
   background-color: #b6d1ff;
   background-image: linear-gradient(180deg, #8294b2 0%, #ebd9f9 100%);
   background: linear-gradient(-45deg, #9aa297, #faf08a, #b9e7f8, #8cc7b9);
   background-size: 400% 400%;
   animation: gradient 15s ease infinite; */ 
 }
 .playlist.active{
  background-color: rgb(34, 20, 77);

 }
 @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }

}

.song{
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
 
}

.song.active{
  transform: scale(0.92);
  cursor: pointer;
}


@keyframes press {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
 
}

.playlist.active .song.playing{

    background-color: #b5d9f7;

}
.song.playing{
  background-color: #e9a2bb;

}

.playlist.active .song:hover{
    cursor: pointer;
    background-color: #b5d9f7;
    
}
.song:hover{
  cursor: pointer;
  background-color: #e9a2bb;
  
}

.thumb {
    width: 50px;
    height: 50px;
    pointer-events: none;
}

.thumb img{
    width: 100%;
    border-radius: 50%; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.song-info{
    padding: 0 20px;
    flex: 1;
    pointer-events: none;
}

.song-info .song-title{
    font-size: 17px;
    font-weight: 600;
    pointer-events: none;
}

.song-info .song-singer{
    font-size: 12px;
    font-style: italic;
    opacity: 0.7;
    color: black;
    pointer-events: none;

}

.option i{
    font-size: 25px;

}

.time-start{
    padding-left: 15px;
}

.time-left{
    padding-right: 15px;
    float: right;
}

